.login-title {
    font-size: 24px;
    font-weight: 700;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    height: 52px;
    background: #4B5563;
    border-radius: 8px;
    padding: 0 20px;
}

.form-group select {
    height: 52px;
    background: #4B5563;
    border-radius: 8px;
    padding: 0 16px;
}

button.btn-primary {
    background: #8B5CF6;
    border-radius: 8px;
    height: 44px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-top: 48px;
}

p.link{
    font-size: 14px; 
    text-align: center; 
    color: #f3f4f6af
}

p.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.login-pass{
    cursor: pointer;
    position: absolute;
    right: 15px;
}

button[disabled]{
    background: rgba(185, 185, 185, 0.281);
    color: rgba(182, 182, 182, 0.281);
}