<div class="grid-rows-3 flex items-center justify-around footer-container md:px-48">
    <div class="footer-btn" routerLink="/home" routerLinkActive="active-link text-focus-in">
        <i class="fa-solid fa-house-chimney fa-xl py-2"></i>
        <small>Home</small>
    </div>
    <div class="footer-btn"  routerLink="/test" routerLinkActive="active-link text-focus-in" [routerLinkActiveOptions]="{ exact: false }" >
        <i class="fa-solid fa-graduation-cap fa-xl py-2"></i>
        <small>Simulados</small>
    </div>
    <div class="footer-btn"  routerLink="/profile/" routerLinkActive="active-link text-focus-in">
        <i class="fa-solid fa-circle-user fa-xl py-2"></i>
        <small>Perfil</small>
    </div>
</div>