<div class="grid-rows-3 flex items-center justify-around footer-container">
    <div class="footer-btn" routerLink="/home" routerLinkActive="active-link" >
        <i class="fa-solid fa-house-chimney"></i>
        <small>Home</small>
    </div>
    <div class="footer-btn"  routerLink="/test/menu" routerLinkActive="active-link">
        <i class="fa-solid fa-graduation-cap"></i>
        <small>Simulados</small>
    </div>
    <div class="footer-btn"  routerLink="/profile" routerLinkActive="active-link">
        <i class="fa-solid fa-circle-user"></i>
        <small>Perfil</small>
    </div>
</div>