<app-header></app-header>
<div [hidden]="success" class="max-w-md:container md:grid-cols-auto p-5 md:flex md:items-center md:self-center" style="flex-direction: column;">
    <h1 class="login-title md:pt-24">Informe seu e-mail cadastrado para recuperar sua senha</h1>
    <form class="slide-top md:w-2/4" [formGroup]="recoverForm">
        <div class="form-group mt-10">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email" class="simple-input">
        </div>
        <button class="btn-primary" (click)="submitForm()" [disabled]="recoverForm?.invalid">Enviar e-mail de recuperação</button>
        <p class="mt-2 link" routerLink="/login">Voltar</p>
    </form>
</div>
<div *ngIf="success" class="container mx-auto p-5">
    <h1 style="font-size: 20px;">Enviamos o link de redefinição de senha no e-mail:</h1>
    <h1 style="font-size: 20px; font-weight: 600;" class="mt-4 mb-8">{{recoverForm.value.email}}</h1>
    <p class="mt-12 link" routerLink="/login">Voltar</p>
</div>

