<app-header style="position: fixed; top: 0; width: 100%; z-index: 1200;"></app-header>
<div class="max-w-md:container md:grid-cols-auto p-5 md:flex md:items-center md:self-center" style="flex-direction: column;">
    <h1 class="login-title md:pt-24">Cadastre-se gratuitamente</h1>
    <form class="slide-top md:w-2/4" [formGroup]="registerForm">
        <div class="form-group mt-10">
            <label for="email">Nome completo</label>
            <input type="text" class="simple-input" id="name" formControlName="complete_name">
        </div>
        <div class="form-group mt-10">
            <label for="email">E-mail</label>
            <input type="text" class="simple-input" id="email" formControlName="email">
        </div>
        <div class="form-group mt-10">
            <label for="schooling">Grau de escolaridade</label>
            <select class="simple-input" formControlName="schooling">
                <option value="" hidden>Selecione a escolaridade</option>
                <option value="1º Ano - Ens Médio" >1º Ano - Ens Médio</option>
                <option value="2º Ano - Ens Médio" >2º Ano - Ens Médio</option>
                <option value="3º Ano - Ens Médio" >3º Ano - Ens Médio</option>
                <option value="Superior Incompleto" >Superior Incompleto</option>
                <option value="Superior Completo" >Superior Completo</option>
                <option value="Não informado" >Outros</option>
            </select>
        </div>
        <div class="form-group mt-10">
            <label for="school">Instituição de ensino</label>
            <input type="text" class="simple-input" id="school" formControlName="institution">
        </div>
        <div class="form-group mt-8">
            <label for="password">Senha</label>
            <input [type]="viewPass? 'text' : 'password' " class="simple-input" id="password" formControlName="password">
            <i class="login-pass mt-10" (click)="viewPass = !viewPass" [ngClass]="viewPass? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i>
        </div>
        <div class="form-group mt-8">
            <label for="confirmPassword">Confirme sua senha</label>
            <input [type]="viewPass? 'text' : 'password' " class="simple-input" formControlName="confirmPassword">
            <i class="login-pass mt-10" (click)="viewPass = !viewPass" [ngClass]="viewPass? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i>
        </div>
        <small *ngIf="error" style="color: red; position: absolute;">Email ou senha inválidos</small>
        <button class="btn-primary" (click)="submitRegister()">Criar minha conta</button>
        <p class="mt-2 link" routerLink="/login">Já tem uma conta? Faça login agora!</p>
    </form>
</div>
