<div class="flex grid-rows-3 items-center justify-between px-4 bg-header">
    <div class="flex grid-cols-1 align-center" *ngIf="this.reqBody">
        <i class="fa-solid fa-arrow-left-long" (click)="returnWarning = true"></i>
    </div>
    <div class="flex grid-cols-2 align-center">
        {{displayTest[0]?.subject ?? 'Aguarde um instante...'}}
    </div>
    <div class="flex grid-cols-1 align-center">
        <i class="fa-solid fa-xmark " (click)="closeWarning = true"></i>
    </div>
</div>
<div class="flex container mx-auto " style="padding: 90px 16px; padding-bottom: 50px; flex-direction: column;">
    <div *ngFor="let test of displayTest" class="test-container mx-auto">
        <p style="font-size: 18px; padding-bottom: 14px; font-weight: 600;"> {{test?.modules[0] ?? ''}} ({{test?.org + '/' + test?.year}})</p>
        <img *ngFor="let img of test.img" [src]="test?.img" class="test-img">
        <p *ngIf="test?.text" (click)="showText = !showText"><strong>Clique aqui para mostrar os textos</strong></p>
        <p *ngIf="showText" class="my-4">{{test.text}}</p>
        <p class="my-4" *ngFor="let paragraph of test.body">{{paragraph}}</p>
        <div *ngFor="let answer of test.answers">
            <button class="option-btn" (click)="handleAnswer(answer?.isCorrect, $event.target)" [id]="answer?.isCorrect? 'correct' : 'incorrect' ">
                <div class="option-icon">{{answer?.option}}</div>
                <p class="pl-12 pr-4 py-2" style="pointer-events: none;">{{answer?.body}}</p>
            </button>
        </div>
        <div class="flex grid-rows-1 justify-between items-center py-4">
            <div class="grid-rows-1 flex items-center" (click)="report = true"  style="cursor: pointer;">
                <i class="fa-regular fa-flag pl-1 pt-5"></i>
                <p class="pl-2 pt-5">Reportar erro</p>
            </div>
            <button class="fab-btn slide-top" (click)="feedbackUp = true">
                <i class="fa-solid fa-arrow-right fa-lg"></i>
            </button>
        </div>
        <div class="container report-container" *ngIf="report">
            <div class="report-content slide-top">
                <p class="my-4">Por favor, descreva seu REPORT com o máximo de informações para resolvermos o problema.</p>
                <form>
                    <div class="form-group">
                        <textarea type="text" class="simple-input" #reportText></textarea>
                    </div>
                </form>
                <button class="report-btn mt-8" (click)="handleReport(reportText.value, displayTest[0].id)">Enviar</button>
                <a class="flex justify-center mt-4" style="font-weight: 400; cursor: pointer" (click)="report = false">Fechar</a>
            </div>
        </div>
        <div class="container report-container feedback" *ngIf="feedbackUp" (click)="feedbackUp = false">
            <div class="report-content feedback slide-top">
                <p class="text-center mt-4">O que você achou da questão?</p>
                <div class="grid-rows-1 flex items-center justify-around mt-4">
                    <div class="text-center feedback-btn">
                        <img src="/assets/hard-feedback.svg" alt="ez-img" (click)="handleFeedback(displayTest[0].id, 'hard')">
                        <small>Difícil</small>
                    </div>
                    <div class="text-center feedback-btn">
                        <img src="/assets/med-feedback.svg" alt="ez-img" (click)="handleFeedback(displayTest[0].id, 'medium')">
                        <small>Médio</small>
                    </div>
                    <div class="text-center feedback-btn">
                        <img src="/assets/ez-feedback.svg" alt="ez-img" (click)="handleFeedback(displayTest[0].id, 'easy')">
                        <small>Fácil</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="container report-container feedback" *ngIf="closeWarning" (click)="closeWarning = false">
            <div class="report-content feedback slide-top">
                <p class="text-center mt-4">Tem certeza que deseja fechar?</p>
                <div class="grid-cols-6 flex items-center justify-center mt-4" style="flex-direction: column;">
                    <button class="btn-primary my-2" routerLink="/home">Fechar</button>
                    <button>Cancelar</button>
                </div>
            </div>
        </div>
        <div class="container report-container feedback" *ngIf="returnWarning" (click)="returnWarning = false">
            <div class="report-content feedback slide-top">
                <p class="text-center mt-4">Você quer voltar para o menu?</p>
                <div class="grid-cols-6 flex items-center justify-center mt-4" style="flex-direction: column;">
                    <button class="btn-primary my-2" (click)="reload()">Ir para o menu</button>
                    <button>Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
