<div class="flex grid-rows-3 items-center justify-between px-4 pr-8 bg-header">
    <div class="flex grid-cols-1 align-center" routerLink="/test">
        <i class="fa-solid fa-arrow-left-long"></i>
    </div>
    <div class="flex grid-cols-2 align-center">
        Prova
    </div>
    <div class="flex grid-cols-1 align-center">
        <i class="fa-solid fa-xmark"></i>
    </div>
</div>
<div class="flex container mx-auto " style="padding: 90px 32px 90px 16px; flex-direction: column;">
    <div *ngFor="let test of tests" class="test-container mx-auto">
        <p style="font-size: 14px; padding-bottom: 16px;">{{test.subject}}</p>
        <img [src]="test.img" alt="test-img" class="test-img">
        <p class="my-4" *ngFor="let paragraph of test.body">{{paragraph}}</p>
        <div *ngFor="let answer of test.answers">
            <button class="option-btn" (click)="handleAnswer(answer.isCorrect, $event.target)" [id]="answer.isCorrect? 'correct' : 'incorrect' ">
                <div class="option-icon">{{answer.option}}</div>
                <p class="pl-12 pr-4 py-2" style="pointer-events: none;">{{answer.body}}</p>
            </button>
        </div>
        <div class="flex grid-rows-1 justify-between items-center pt-4">
            <i class="fa-regular fa-flag pl-1" style="cursor: pointer;" (click)="report = true"></i>
            <button class="next-btn" (click)="feedbackUp = true">Próxima</button>
        </div>
        <div class="container report-container" *ngIf="report">
            <div class="report-content slide-top">
                <p class="my-4">Por favor, descreva seu REPORT com o máximo de informações para resolvermos o problema.</p>
                <form>
                    <div class="form-group">
                        <textarea type="text" class="simple-input"></textarea>
                    </div>
                </form>
                <button class="report-btn mt-8">Enviar</button>
                <a class="flex justify-center mt-4" style="font-weight: 400; cursor: pointer" (click)="report = false">Fechar</a>
            </div>
        </div>
        <div class="container report-container feedback" *ngIf="feedbackUp">
            <div class="report-content feedback slide-top">
                <p class="text-center mt-4">O que você achou da questão?</p>
                <div class="grid-rows-1 flex items-center justify-around mt-4">
                    <div class="text-center feedback-btn">
                        <img src="/assets/ez-feedback.svg" alt="ez-img" (click)="feedbackUp = false">
                        <small>Fácil</small>
                    </div>
                    <div class="text-center feedback-btn">
                        <img src="/assets/med-feedback.svg" alt="ez-img" (click)="feedbackUp = false">
                        <small>Médio</small>
                    </div>
                    <div class="text-center feedback-btn">
                        <img src="/assets/hard-feedback.svg" alt="ez-img" (click)="feedbackUp = false">
                        <small>Difícil</small>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>