<app-header></app-header>
<div class="max-w-md:container md:grid-cols-auto p-5 md:flex md:items-center md:self-center" style="flex-direction: column;">
    <h1 class="login-title">Redefina sua senha</h1>
    <form class="slide-top" [formGroup]="registerForm">
        <div class="form-group mt-8">
            <label for="email">Digite sua nova senha</label>
            <input [type]="viewPass? 'text' : 'password' " class="simple-input" id="password" formControlName="password">
            <i class="login-pass mt-10" (click)="viewPass = !viewPass" [ngClass]="viewPass? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i>
        </div>
        <div class="form-group mt-8">
            <label for="email">Digite novamente sua nova senha</label>
            <input [type]="viewPass? 'text' : 'password' " class="simple-input" formControlName="confirmPassword">
            <i class="login-pass mt-10" (click)="viewPass = !viewPass" [ngClass]="viewPass? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i>
        </div>
        <small *ngIf="error" style="color: red; position: absolute;">Senha inválida</small>
        <button class="btn-primary" (click)="submitRegister()">Salvar</button>
        <p class="mt-2 link" routerLink="/login">Voltar</p>
    </form>
</div>
